@using CeroGame.GamePresentation.Core;
@using CeroGame.GameService.Enums;
@using CeroGame.GameService.GameLogic;
@using CeroGame.GameService;
@using MudBlazor


<MudPaper @onclick="ToggleActive" Class=@($"card-container {CanBePlayedString}") Style=@($"background-color:{ColourString};position:relative; left:{LeftOffset}vw; top:calc({topOffset}vw + {_activeOffsetString}vw)") Elevation="3">
    @*@CardModel.GuidId;*@
    @if (!Hidden)
    {
        <div class="number-container-corner">
            @if (CardModel.isNumber)
            {
                <h1>@CardModel.Number</h1>
            }
            else if(!string.IsNullOrEmpty(CardModel.Icon))
            {
                <i class="@CardModel.Icon"></i>
            }
            else if(!string.IsNullOrEmpty(CardModel.Image))
            {
                <img src="@CardModel.Image"/>
            }
            else if(!string.IsNullOrEmpty(CardModel.Text))
            {
                <p>@CardModel.Text</p>
            }
        </div>
        <div class="number-container-center .text-center">

                <h1>@CardModel.Number</h1>
        </div>
    }
</MudPaper>
